{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>{% if request.path != '/' %}{% block title %}{% endblock %} | {% endif %}Blog App with Auth | Django2 Tutorial</title>
</head>
<body>
 <header class="header">
  <nav class="global-nav">
   <ul>
     <li class="nav-item active"><a href="#">HOME</a></li>
     <li class="nav-item"><a href="#">ABOUT</a></li> 	
     <li class="nav-item"><a href="#">NEWS</a></li> 	
     <li class="nav-item"><a href="#">TOPICS</a></li> 	
   </nav>
 </header>
 <div class="wrapper clearfix">
  <main class="main-content">
   {% block content %}{% endblock %}
  </main>
 </div>
</body>
<html>
