<!DOCTYPE html>
<html>
 
<head>
    <meta charset="utf-8" />
    <title>MenusList</title>
</head>
 
<body>
    <table border="1">
        <tr>
            <th>staple_food</th>
            <th>main_dish</th>
            <th>side_dish</th>
            <th>soup</th>
            <th>detail</th>
        </tr>
        {% for menu in object_list %}
        <tr>
            <td>{{ menu.staple_food }}</td>         
            <td>{{ menu.main_dish }}</td>
            <td>{{ menu.side_dish }}</td>
            <td>{{ menu.soup }}</td>
            <td><a href="{% url 'authentication:detail' menu.pk %}">Detail</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
 
</html>
 
