<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
  <header class="header-wrapper">
    <div class="header-content">
      <div class=title-wrapper>
        <h1>めぐろめし。</h1>
      </div>
      <div class="navigation-wrapper">
        <ul class="navigation-content">
          <li><a href="{% url 'authentication:logout' %}" >ログアウト</a></li>
          <li><a href="{% url 'authentication:signin' %}" >ログイン</a></li>
          <li><a href="{% url 'authentication:signup' %}" >新規登録</a></li>
        </ul>
      </div>
    </div>
  </header>
  <div class="main-wrapper">
  </div>
  <div class="clear"> 
  </div>
  <footer class="footer-wrapper">
   <div class="footer-headline">
   </div>
  </footer>
</body>
</html>
{% block content %}
{% endblock %}